---
import TodosComponent from "@/components/react/todos.tsx"

let email = "";
if (Astro.locals.session && Astro.locals.user) {
  email = Astro.locals.user.email;
} else {
  // Redirect to login page if the user is not authenticated
  return Astro.redirect("/auth/login");
}
---

<div>
  <h2>Welcome {email} | Todo List</h2>
  <TodosComponent client:load />
</div>
